html,
body {
  font-family: "Noto Sans KR", serif;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.main {
  width: 90%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

#logo {
  width: 100px;
  border-radius: 70%;
  margin-top: -35px;
  animation: rotate_img 3s linear infinite;
}

@keyframes rotate_img {
  100% {
    transform: rotate(360deg);
  }
}

#title, #name {
  font-family: 'Song Myung', serif;
}

.name,
.level,
.tutorial {
  padding-top: 5px;
  padding-bottom: 20px;
}

#nameBox {
  line-height: 30px;
  width: 300px;
  font-size: 17px;
}

table {
  margin: auto;
  border-spacing: 10px;
}

td {
  border-radius: 10px;
  padding: 40px 23px;
  background-color: #f1f1f1;
}

#tdA {
  background-color: #e74040;
}

#tdB {
  background-color: #368636;
}

#tdC {
  background-color: #5656e0;
}

#startBtn,
#tutoBtn,
#rankBtn {
  border: 0;
  border-radius: 10px;
  outline: 0;
  width: 300px;
  margin: 5px;
  padding: 15px 50px;
  font-size: 17px;
}

#startBtn:hover,
#tutoBtn:hover,
#rankBtn:hover {
  background: black;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* Rank */

.lboard_section {
  width: 1200px;
  height: 600px;
  margin: 0px auto 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 40px;
  position: relative;
  border-radius: 5px;
}

.lboard_section .lboard_tabs ul {
  display: flex;
}

.lboard_section .lboard_tabs ul li {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #3a3d51;
  cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active {
  color: #fff;
}

.lboard_wrap {
  position: absolute;
  top: 70px;
  left: 40px;
  background: rgb(239, 239, 239);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
}

.lboard_wrap .lboard_item {
  padding: 25px;
}

.lboard_wrap .lboard_mem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1.5px solid #575757;
}

.lboard_wrap .lboard_mem:first-child {
  padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.lboard_wrap .lboard_mem .img {
  width: 50px;
}

.lboard_wrap .lboard_mem img {
  display: block;
  width: 100%;
}

.lboard_wrap .lboard_mem .rank_bar {
  margin: 0 20px;
  width: calc(100% - 400px);
}

.lboard_wrap .lboard_mem .rank_bar p {
  color: #3a3d51;
}

.lboard_wrap .lboard_mem .rank_bar p span {
  margin-right: 5px;
}

.lboard_wrap .lboard_mem .points, .date {
  width: 100px;
  color: #3a3d51;
  font-size: 1.2rem;
  padding-left: 1px;
}

.lboard_wrap .lboard_mem .rank_bar .bar_wrap {
  width: 100%;
  height: 15px;
  background: rgb(229, 229, 229);
  margin-top: 5px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.lboard_wrap .lboard_mem .rank_bar .bar_wrap .inner_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  background: #117a37;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#rank_num {
  width: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 10px;
  color: green;
}

#rank_name {
  width: 100px;
  font-size: 1.5rem;
  font-family: 'Song Myung', serif;
}

#user_rank {
  background-color: #f6c66b;
}

/* Level Card */

.level-row {
  padding: 0 100px;
}

.level-col {
  float: left;
  width: 30%;
  padding: 1.5%;
}

.level-card {
  position: relative;
  cursor: pointer;
}

.level-card .face {
  height: 200px;
  transition: 0.5s;
}

.level-card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
  z-index: 1;
  background: #333;
}

.level-card:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0);
}

.level-card .face.face1 .card-content {
  opacity: 0.2;
  transition: 0.5s;
}

.level-card:hover .face.face1 .card-content {
  opacity: 1;
}

.level-card .face.face1 .card-content img {
  max-width: 100px;
}

.level-card .face.face1 .card-content {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.level-card .face.face2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.level-card:hover .face.face2 {
  transform: translateY(0);
}

.level-card .card-content a:hover {
  background: #333;
  color: #fff;
}