input[type=radio] {
    display: none;
}

.card-carousel {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 20px;
    transition: transform .4s ease;
    cursor: pointer;
}

.container-carousel {
    float: left;
    padding: 30px 10px;
    width: 75%;
    height: 60%;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cardImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #song-5,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2,
#item-4:checked~.cards #song-3,
#item-5:checked~.cards #song-4 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 1;
}

#item-1:checked~.cards #song-4,
#item-2:checked~.cards #song-5,
#item-3:checked~.cards #song-1,
#item-4:checked~.cards #song-2,
#item-5:checked~.cards #song-3 {
    transform: translatex(0%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-4,
#item-3:checked~.cards #song-5,
#item-4:checked~.cards #song-1,
#item-5:checked~.cards #song-2 {
    transform: translatex(0%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-4,
#item-4:checked~.cards #song-5,
#item-5:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 1;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3,
#item-4:checked~.cards #song-4,
#item-5:checked~.cards #song-5 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 2;
}

.player {
    background-color: rgba(222, 222, 222, 0.7);
    border: 2px solid rgba(61, 61, 61, 0.8);
    border-radius: 8px;
    width: 40%;
    margin: 20px 30%;
    padding: 5px 0;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.play-icon {
    margin-right: 10px;
}

.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #403d40;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle, .time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
}

.time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}

#item-1:checked~.player #test {
    transform: translateY(10px);
}

#item-2:checked~.player #test {
    transform: translateY(-17px);
}

#item-3:checked~.player #test {
    transform: translateY(-43px);
}

#item-4:checked~.player #test {
    transform: translateY(-66px);
}
#item-5:checked~.player #test {
    transform: translateY(-90px);
}

#webcam {
    padding-left: 25px;
}

#arrow {
    width: 30px;
}